.App {
  text-align: center;
} /* 作用在 App.js */

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
} /* 作用在 App.js */

.App-link {
  color: #61dafb;
} /* TODO 作用在超链接 */

.App-intro {
  font-size: large;
} /* 作用在 App.js */

